<app-form></app-form>

<div class="container">
    <a
      class="px-2 nav-link float-left"
      href="#"
      routerLink="/guest/{{this.id}}/edit"
      routerLinkActive="active"
    >
        <button class="btn btn-primary">Editar</button>
    </a>

    <a
      class="px-2 nav-link float-left"
      href="#"
    >
        <button (click)="navigateBack()" class="btn">Voltar</button>
    </a>

    <a class="px-2 nav-link float-left">
        <button (click)="onDelete(this.id)" class="btn btn-danger">Excluir</button>
    </a>
</div>
