<div class="mt-20 block">
    <button (click)="exportGuests()" class="btn btn-lg btn-success btn-block" type="submit">Enviar dados para API</button>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Endereço</th>
            <th scope="col">Telefone</th>
            <th scope="col" colspan="3">Detalhar | Editar | Excluir</th>
        </tr>
    </thead>
    <tbody>
        <ng-container>
            <tr *ngFor="let guest of guests | keyvalue">
                <td>{{ guest.value.name }}</td>
                <td><a href="mailto:{{guest.value.email}}">{{ guest.value.email }}</a></td>
                <td>{{ guest.value.address }}</td>
                <td>{{ guest.value.phone }}</td>
                <td>
                    <a
                      class="float-left mr-2"
                      href="#"
                      routerLink="/guest/{{guest.value.id}}"
                      routerLinkActive="active"
                    >
                        <button class="btn btn-primary btn-sm" type="submit">Detalhes</button>
                    </a>
                </td>
                <td>
                    <a
                      class="float-left mr-2"
                      href="#"
                      routerLink="/guest/{{guest.value.id}}/edit"
                      routerLinkActive="active"
                    >
                        <button class="btn btn-success btn-sm" type="submit">Editar</button>
                    </a>
                </td>
                <td>
                    <a
                      class="float-left mr-2"
                      href="#"
                      routerLink="/guest/{{guest.value.id}}/delete"
                      routerLinkActive="active"
                    >
                        <button class="btn btn-sm btn-block" type="submit">Excluir</button>
                    </a>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
