<div class="container">
    <form #formGroup="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()">

        <label for="name">Nome</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          placeholder="Nome"
          required
        />
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">
            <div *ngIf="name.errors.required">
                O campo Nome é obrigatório.
            </div>
        </div>

        <label for="inputEmail">Email</label>
        <input
          (blur)="onChange(email.value)"
          formControlName="email"
          type="email"
          class="form-control"
          placeholder="Email"
        />
        <div *ngIf="email.invalid && email.errors.required && (email.dirty || email.touched)"
             class="alert alert-danger">
            <div *ngIf="email.errors.required">
                O campo Email é obrigatório.
            </div>
            <div *ngIf="email.errors.invalidEmail">
                O email deve ser válido.
            </div>
        </div>

        <label for="address">Endereço</label>
        <input
          (blur)="onChange(address.value)"
          formControlName="address"
          type="text"
          class="form-control"
          placeholder="Rua X, nnn"
        />
        <div *ngIf="address.invalid && (address.dirty || address.touched)"
             class="alert alert-danger">
            <div *ngIf="address.errors.required">
                O campo Endereço é obrigatório.
            </div>
        </div>

        <div class="form-row">
            <div [formGroup]="form" class="form-group col-md-6">
                <label for="inputCity">Cidade</label>
                <input
                  (blur)="onChange(city.value)"
                  formControlName="city"
                  type="text"
                  class="form-control"
                  placeholder="Cidade"
                />
                <div *ngIf="city.invalid && (city.dirty || city.touched)"
                     class="alert alert-danger">
                    <div *ngIf="city.errors.required">
                        O campo Cidade é obrigatório.
                    </div>
                </div>
            </div>

            <div [formGroup]="form" class="form-group col-md-2">
                <label for="inputState">Estado</label>
                <select
                  (blur)="onChange(state.value)"
                  formControlName="state"
                  id="inputState"
                  class="form-control"
                >
                    <option selected>Selecione...</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                    <option value="EX">Estrangeiro</option>
                </select>
                <div *ngIf="state.invalid && (state.dirty || state.touched)"
                     class="alert alert-danger">
                    <div *ngIf="state.errors.required">
                        Você deve escolher um Estado.
                    </div>
                </div>
            </div>

            <div [formGroup]="form" class="form-group col-md-2">
                <label for="inputCity">País</label>
                <input
                  (blur)="onChange(countryOfOrigin.value)"
                  formControlName="countryOfOrigin"
                  type="text"
                  class="form-control"
                  placeholder="País"
                />
                <div *ngIf="countryOfOrigin.invalid && (countryOfOrigin.dirty || countryOfOrigin.touched)"
                     class="alert alert-danger">
                    <div *ngIf="countryOfOrigin.errors.required">
                        O campo País é obrigatório.
                    </div>
                </div>
            </div>
            
            <div class="form-group col-md-2">
                <label for="inputZip">CEP</label>
                <input
                  (blur)="onChange(zipcode.value)"
                  formControlName="zipcode"
                  type="text"
                  class="form-control"
                  placeholder="XX.XXX-XX"
                />
                <div *ngIf="zipcode.invalid && (zipcode.dirty || zipcode.touched)"
                     class="alert alert-danger">
                    <div *ngIf="zipcode.errors.required">
                        O campo CEP é obrigatório.
                    </div>
                </div>
            </div>

        </div>

        <div class="form-row">
            <div [formGroup]="form" class="form-group col-md-6">
                <label for="inputDocument">CPF</label>
                <input
                  (blur)="onChange(document.value)"
                  formControlName="document"
                  type="text"
                  class="form-control"
                  placeholder="XXX-XXX-XXX-XX"
                />
                <div *ngIf="document.invalid && (document.dirty || document.touched)"
                     class="alert alert-danger">
                    <div *ngIf="document.errors.required">
                        O campo CPF é obrigatório.
                    </div>
                </div>
            </div>
            <div [formGroup]="form" class="form-group col-md-6">
                <label for="inputPhone">Telefone</label>
                <input
                  (blur)="onChange(phone.value)"
                  formControlName="phone"
                  type="text"
                  class="form-control"
                  placeholder="(xx) xxxxx-xxxx"
                />
                <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                     class="alert alert-danger">
                    <div *ngIf="phone.errors.required">
                        O campo Telefone é obrigatório.
                    </div>
                </div>
            </div>
        </div>

        <!-- Billing information -->
        <div class="form-row">
            <div [formGroup]="form" class="form-group col-md-8">
                <label for="creditCardInput">Cartão de Crédito</label>
                <input
                  (blur)="onChange(creditCard.value)"
                  formControlName="creditCard"
                  type="text"
                  class="form-control"
                  placeholder="XXXX-XXXX-XXXX-XXXX"
                />
                <div *ngIf="creditCard.invalid && (creditCard.dirty || creditCard.touched)"
                     class="alert alert-danger">
                    <div *ngIf="creditCard.errors.required">
                        Você deve inserir um Cartão de Crédito.
                    </div>
                </div>
            </div>

            <div [formGroup]="form" class="form-group col-md-4">
                <label for="valueChargedAtCheckInInput">Valor cobrado no check-in</label>
                <div class="currency">
                    <input
                      (blur)="onChange(valueChargedAtCheckIn.value)"
                      formControlName="valueChargedAtCheckIn"
                      type="number" min="0.00" max="10000.00" step="0.01"
                      class="form-control"
                      placeholder="x,xxx.xx"
                    />
                    <div *ngIf="valueChargedAtCheckIn.invalid && (valueChargedAtCheckIn.dirty || valueChargedAtCheckIn.touched)"
                         class="alert alert-danger">
                        <div *ngIf="valueChargedAtCheckIn.errors.required">
                            O campo Valor Cobrado é obrigatório.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

