input.ng-valid,
input.ng-valid.required {
  border: 1px solid lightgreen;
}
.currency{
  display: inline-block;
  position: relative;
}
.currency input{
  padding-left: 30px;
}
.currency:before {
  position: absolute;
  content: "R$";
  left: 5px;
  top: 7px;
}


